* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(218, 23%, 16%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.continer {
  max-width: 550px;
  padding: 40px;
  background-color: hsl(217, 19%, 24%);
  border-radius: 20px;
  position: relative;
  word-spacing: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 60px;
  margin: 30px;
}

.advice-count {
  color: hsl(150, 100%, 66%);
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

.advice-count span {
  word-spacing: 5px;
}

.advice {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: hsl(193, 38%, 86%);
  line-height: 1.2;
}

hr {
  border: none;
  border-top: 2px solid hsla(193, 38%, 86%, 0.098);
}

.rollbtn {
  padding: 20px;
  border: none;
  background-color: hsl(150, 100%, 66%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, 0%);
  cursor: pointer;
}

.rotate-360 {
  transform: rotate(360deg);
}

.icon {
  transition: 1s ease-in-out;
}
